asgiref==3.8.1
dj-database-url==2.3.0
django==5.1.6
django-cors-headers==4.7.0
django-environ==0.12.0
django-filter==25.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.5.0
pillow==11.1.0
pip==24.2
psycopg2-binary==2.9.10
pyjwt==2.9.0
python-dotenv==1.0.1
sqlparse==0.5.3
typing-extensions==4.12.2
pandas==2.2.0
cloudinary==1.42.2
django-cloudinary-storage==0.3.0


anyio
auth
bcrypt
blinker
certifi
cffi
charset-normalizer
click
colorama
cryptography
dnspython
dotenv
ecdsa
eventlet
exceptiongroup
falcon
fastapi
fastapi-login
fastapi-versioning
greenlet
gunicorn
h11
idna
Jinja2
jwt
MarkupSafe
mongoengine
packaging
passlib
pip
psycopg2-binary
pyasn1
pycparser
pydantic
pydantic_core
PyJWT
pymongo
python-dotenv
python-jose
python-multipart
requests
rsa
setuptools
six
sniffio
SQLAlchemy
sqlmodel
starlette
fastapi
uvicorn
typing-extensions
urllib3
webencodings
websockets
Werkzeug
xhtml2pdf
zipp
zopfli
gunicorn
httpx
pytest
python-multipart