<div class="about">
    <div class="about-text">
        <h2 class="cinzel-thin">Sobre Nosotros</h2>
        <p>En Delicaté, nos apasiona ofrecer productos gourmet seleccionados con esmero, garantizando la mejor calidad y autenticidad en cada bocado. Creemos que la gastronomía es una forma de arte y trabajamos con los mejores ingredientes para que cada experiencia culinaria sea única.</p>
        <p>Nos enfocamos en ofrecer una variedad de sabores auténticos y exclusivos, siempre respetando el origen y el proceso de producción. Nuestra misión es llevar a tu hogar lo mejor de la gastronomía muexquisito.</p>
        <button class="raleway-thin">Conócenos</button>
    </div>
    <img src="{{ url_for('static', path='img/equipo.jpeg') }}" alt="Equipo Delicate">
</div>