<footer>
  <section class="benefits">
    <div class="benefit-item">
      <img src="{{ url_for('static', path='img/Group_1.png') }}" alt="Free Shipping" />
      <div class="benefit-text">
        <h4>Free Shipping</h4>
        <p>Free shipping on all your orders</p>
      </div>
    </div>
    <div class="benefit-item">
      <img src="{{ url_for('static', path='img/call.png') }}" alt="Customer Support 24/7" />
      <div class="benefit-text">
        <h4>Customer Support 24/7</h4>
        <p>Instant access to support</p>
      </div>
    </div>
    <div class="benefit-item">
      <img src="{{ url_for('static', path='img/Group.png') }}" alt="100% Secure Payment" />
      <div class="benefit-text">
        <h4>100% Secure Payment</h4>
        <p>We ensure your money is safe</p>
      </div>
    </div>
    <div class="benefit-item">
      <img src="{{ url_for('static', path='img/Box.png') }}" alt="Money-Back Guarantee" />
      <div class="benefit-text">
        <h4>Money-Back Guarantee</h4>
        <p>30 Days Money-Back Guarantee</p>
      </div>
    </div>
  </section>
  <div class="footer-container">
    <div class="footer-section">
      <img src="{{ url_for('static', path='img/logo.png') }}" alt="Delicate Logo" width="120" />
    </div>
    <div class="footer-section">
      <h4>My Account</h4>
      <ul>
        <li><a href="#">My Account</a></li>
        <li><a href="#">Order History</a></li>
        <li><a href="#">Shopping Cart</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Helps</h4>
      <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Categories</h4>
      <ul>
        <li><a href="#">Fruit & Vegetables</a></li>
        <li><a href="#">Meat & Fish</a></li>
        <li><a href="#">Bread & Bakery</a></li>
        <li><a href="#">Beauty & Health</a></li>
      </ul>
    </div>
  </div>
  <hr />
  <div class="footer-payment">
    <p>Delicaté © 2025. All Rights Reserved</p>
    <div class="payments">
      <img src="{{ url_for('static', path='img/ApplePay.png') }}" alt="Visa" />
      <img src="{{ url_for('static', path='img/Visa.png') }}" alt="Visa" />
      <img src="{{ url_for('static', path='img/Mastercard.png') }}" alt="MasterCard" />
      <img src="{{ url_for('static', path='img/Cart.png') }}" alt="Cart" />
    </div>
  </div>
</footer>
