<div id="principal">
  <header>
    <div class="logo">
      <img src="{{ url_for('static', path='img/logo.png') }}" alt="Delicate Logo" width="120" />
    </div>
    <nav>
      <a href="/">Home</a>
      <a href="products">Productos</a>
      <a href="about">Sobre Nosotros</a>
      <a href="contact">Contacto</a>
      <a href="#"><img src="{{ url_for('static', path='img/user.png') }}" alt="" /></a>
      <a href="#"><img src="{{ url_for('static', path='img/search.png') }}" alt="" /></a>
      <a href="#"><img src="{{ url_for('static', path='img/shopping.png') }}" alt="" /></a>
    </nav>
  </header>
  <section class="hero">
    <h1 class="cinzel-thin">El Lujo De Lo Auténtico, El Placer De Lo Gourmet</h1>
    <div class="buttons">
      <button class="btn">Registrarse</button>
      <button class="btn">Login</button>
    </div>
  </section>
</div>
