<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tienda gurmet {{ nombre }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}" />
  </head>
  <body>

    <div id="all">
      {% include "include/header.html" %}
      <section class="products">
        <h2 class="cinzel-thin">Nuestros Productos</h2>
        <div class="product-grid">
          <div class="product">
            <img src="product1.jpg" alt="Queso Brie" width="100%" />
            <p>Queso Brie - 00.00€</p>
            <a href="/details/">
              <button class="raleway-thin">Comprar</button>
            </a>
          </div>
          <div class="product">
            <img src="product1.jpg" alt="Queso Brie" width="100%" />
            <p>Queso Brie - 00.00€</p>
            <button class="raleway-thin">Comprar</button>
          </div>
          <div class="product">
            <img src="product1.jpg" alt="Queso Brie" width="100%" />
            <p>Queso Brie - 00.00€</p>
            <button class="raleway-thin">Comprar</button>
          </div>
        </div>
      </section>
      {% include "include/about.html" %}
      {% include "include/footer.html" %}
    </div>
  </body>
</html>
