<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tienda gurmet {{ company.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}" />
  </head>
  <body>
    <style>
      .hero {
        display: none !important;
      }
      #principal {
        background: none !important;
      }
    </style>
    <div id="all">
      {% include "include/header.html" %}
      <div class="container_user">
        <h1 class="cinzel-thin">Pagar compra</h1>
        <hr />
        <section class="order-history">
          {% if carts %}
          <table>
            <thead>
              <tr>
                <th>Referencia</th>
                <th>Producto</th>
                <th>Imagen</th>
                <th>Precio</th>
                <th>Cantidad</th>

              </tr>
            </thead>
            
                {% set ns = namespace(total=0) %}
                {% for cart, product in carts %}
                  {% set ns.total = ns.total + cart["precio"] %}
                
              <tr>
                <td>{{ product["id"] }}</td>
                <td>{{ product["name"] }}</td>
                <td><img width="50px" src="{{ 'https://res.cloudinary.com/dpqopnap4/' + product['image'] }}" alt="{{ product['name'] }}" /></td>
                <td>{{ cart["precio"] }}</td>
                <td>{{ cart["cantidad"] }}</td>
              </tr>
              {% endfor %}
          </table>
          <p>Total impuestos incluidos: {{ ns.total }} €</p>
          <a href="/pay" class="button u-full-width">Pagar compra</a>

              {% else %}
                <p>No hay productos en el carrito.</p>
              {% endif %}

        </section>
      </div>

      {% include "include/footer.html" %}
    </div>
    <script>
      function togglePassword(id) {
        const input = document.getElementById(id);
        if (input.type === "password") {
          input.type = "text";
        } else {
          input.type = "password";
        }
      }
    </script>
  </body>
</html>
