<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tienda gurmet factura</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}" />
  </head>
  <body>
    <style>
      .hero {
        display: none !important;
      }
      #principal {
        background: none !important;
      }
    </style>
    <div id="all">
      <div class="logo">
        <img src="../static/img/logo.png" alt="Delicate Logo" width="120" />
      </div>
      <div class="container_user">
        <h1 class="cinzel-thin">Factura numeroA</h1>
        <hr />

        <!-- Historial de pedidos -->
        <section class="order-history">
          <h2>Historial de facturas, cliente: clienteA</h2>
          <table>
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Nº factura</th>
                <th>Articulos</th>
                <th>importe</th>
              </tr>
            </thead>

            <tbody>
              <!-- listar los pedidos-->
              {% for invoid in invoices %}
              <tr>
                <td>{{ invoid['date'] }}</td>
                <td><a href="/generate-invoice/" target="_top"> {{ invoid['id'] }}</a></td>
                <td></td>
                <td>{{ invoid['neto'] }}</td>
              </tr>
              {% endfor %}
              <!-- fin lista de pedidos-->
            </tbody>
          </table>
        </section>
        <hr />
        <!-- Formulario de edición -->
        <section class="profile-form">
          <h2 class="cinzel-thin">Modifica tu información</h2>
         

        </section>
      </div>

      {% include "include/footer.html" %}
    </div>

  </body>
</html>
